<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070118193521-0joscbrs6al6dmremul463hrmgc6nfub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070118193521-0joscbrs6al6dmremul463hrmgc6nfub</string>
	<key>API_KEY</key>
	<string>AIzaSyBQd7_QVJbWvf1JZppgYl98meQQffabsk0</string>
	<key>GCM_SENDER_ID</key>
	<string>1070118193521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-dce12</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-dce12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070118193521:ios:c101fd34d030b0d50e4ed0</string>
</dict>
</plist>